body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;

    color: #373745;
}

.main-rating {
    display: flex;

    justify-content: center;

}

.table {
    background-color: white;
    border-radius: 40px;
    width: 1026px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    display: flex;
}

table {
    width: 100%;
    margin: 32px;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
}

caption {
    text-align: start;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.column-two {
    width: 15%;
}

td:nth-child(4) {
    color: #E93E3E;
}

td:nth-child(3) {
    color: #69B849;
}

th {
    text-align: start;
    font-weight: 500;
}

td {
    font-weight: 400;
}

tr {
    height: 48px;
    box-shadow: inset 0px -1px 0px #EEEFF5;
}